---
const { number, title, text, icon, color } = Astro.props;
---

<article class="card">
  <div>
    <h3 class={color} class="stepnumber">{number}</h3>
  </div>
  <div class="cardcontent">
    <h4 class="title">{title}</h4>
    <p>{text}</p>
    <img src={icon} alt="icon" class="icon" />
  </div>
</article>

<style>
  .card {
    position: relative; /* Gör att .stepnumber kan placeras relativt denna */
    padding: 130px 0px 60px 0px;
    text-align: left;
    transition: transform 0.3s ease;
  }

  .stepnumber,
  .blue,
  .green,
  .brown,
  .darkblue {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: 600;
    z-index: 1;
  }

  .cardcontent {
    position: relative; /* Viktigt för att hamna över stepnumber */
    background-color: #f8f8f8;
    padding: 20px;
    z-index: 2; /* Högre än stepnumber */
  }

  .card:hover .stepnumber,
  .card:hover .blue,
  .card:hover .green,
  .card:hover .brown,
  .card:hover .darkblue {
    transform: translate(-50%, -70%);
  }

  h3 {
    font-size: 100px;
    margin-bottom: -50px;
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
  }

  .blue {
    color: #baccff;
  }
  .green {
    color: #1e824c;
  }
  .brown {
    color: #391a05;
  }
  .darkblue {
    color: #0067ff;
  }

  .icon {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }

  @media (width >= 768px) {
  }

  @media (width >= 1024px) {
    .card {
      padding: 160px 20px 60px 0px;
      text-align: center;
    }

    .stepnumber,
    .blue,
    .green,
    .brown,
    .darkblue {
      font-size: 120px;
      top: 4%;
    }
  }
</style>
